        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li>
                            <a href="/admin/">
                                <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                            </a>
                        </li>

                        <li>
                            <a href="/admin/user">
                                <i class="fa fa-users"></i> <span>Utilisateurs</span>
                            </a>
                        </li>

                        <li>
                            <a href="/admin/activity">
                                <i class="fa fa-bar-chart-o"></i> <span>Activités</span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="/admin/message">
                                <i class="fa fa-comments"></i> <span>Messages</span>
                                <small class="badge pull-right bg-green">bientôt</small>
                            </a>
                        </li>

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                </section>

