<% if(joinedUsers.lenght != 0){ %>
	<ul>
		<% _.each(joinedUsers, function (joined) { %>
		
		<li><img src="<%= joined.user.image %>" alt="<%= joined.user.firstname %>"></img></li>

		<% }) %>
	</ul>

<% } %>


