<% if(joinedUsers.length > 1){ %>
	<ul>
		<% _.each(joinedUsers, function (joined) { %>
		
		<li><img src="<%= joined.image %>" alt="<%= joined.firstname %>" data-user-id="<%= joined.id %>"></img></li>

		<% }) %>
	</ul>

<% } %>


