<div class="index-container">
    <div class="logo"></div>
    <header>
        <!-- <a href="">INSCRIPTION.HTML</a> -->
    </header>
    <section class="w50 large-w33 small-w75 tiny-w75 ">
        <form class="form-signin" method='POST' action='/user/createUser'>
        <h2 class="form-signin-heading">Create an account</h2>

        <div class="form-error">
            <% if(flash && flash.err) { %>
            <ul class="alert alert-success">
            <% Object.keys(flash.err).forEach(function(error) { %>
                <li><%= flash.err[error].message %></li>
            <% }) %>
            </ul>
            <% } %>
        </div>

        <input name='firstname' type="text" class="input-block-level" placeholder="Firstname" value="" ><br />

        <input name='mail' type="email" class="input-block-level" placeholder="Email adress" value=""><br />

        <input name='password' type="password" id="password" class="input-block-level" placeholder="Password" ><br />

        <input name='confirmation' type="password" class="input-block-level" placeholder="Confirm the password" ><br />

        <input type='submit' class="btn btn-large" id="validinscription"  value="Let's begin">

        <input type="hidden" name="_csrf" value="<%= _csrf %>" />

        <a href='/session/new'>back</a>
        </form>

    </section>