<% if(typeof(songs) != "undefined") { %>

	<% if(songs.length > 0) { %>

		<% _.each(songs, function (playlist) { %>

		<%= playlist.name %>

			<% _.each(playlist.songs, function (song) { %>

				<p><%= song.songTrackName %></p>

			<% }); %>

		<% }); %>

	<% } %>

<% }else{ %>

	<p>la Playlist est vide, ajoutez de la musique !</p>

<% } %>